{{!-- Header space  --}}

<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All recipes belong to <a href="https://www.realsimple.com/">Real Simple</a>
            <a href="/recipes-json" class="grey-test text-lighten-4 right">Recipes JSON</a>
        </div>
    </div>
</footer>