{{!-- HEADER SPACE  --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- BOOTSTRAP CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    {{!-- BOOTSTRAP JS --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{!-- JQUERY  --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {{!-- POPPER  --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    {{!-- BOOTBOX  --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.js"></script>
    {{!-- GOOGLE FONTS  --}}
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Nova+Square&display=swap" rel="stylesheet">
    {{!-- CSS  --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- AXIOS  --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

    <title>Real Simple Recipe Scrape</title>
</head>