<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- GOOGLE ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    {{!-- <link rel="stylesheet" type="text/css" href="/css/index.css"> --}}
    <!-- MEDIA QUERIES CSS -->
    {{!-- <link rel="stylesheet" type="text/css" href="/css/media.css"> --}}
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Playfair+Display&family=Raleway&display=swap" rel="stylesheet">
    <!-- FAVICON -->
    {{!-- <link rel="icon" href="/images/favicon.png" type="image/png"> --}}
    <title>Real Simple Recipe Scrape</title>
</head>

<body>
    
    {{nav/navbar}}
    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>
    {{footer}}

    <!--Import jQuery before Materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {{!-- Materialize.js  --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!-- javascript file --> 
    {{!-- <script src="/public/app.js"></script> --}}
</body>
</html>