{{!-- Header space  --}}

<div>
    <h3 class="card z-depth-3 center-align">Get the latest recipes from Real Simple</h3>
    <div class="row">
        <div class="col s3"></div>
        <h6 class="card z-depth-3 center-align col s6">Click 'Scrape' to get the latest recipes</h6>
        <a href="http://localhost:3000/scrape">SCRAPE</a>
    </div>
</div>

<div class="row"><div class="col s2">
    <div class="col s8 left-align">
        {{#each recipe}}
            <div class="card-panel">
                <h4>{{this.title}}</h4>
                <a href="/seeRecipe/{{this._id}}" class="waves-effect waves-light btn" id="btnSignUp">See Recipe</a>
            </div>
        {{/each}}
    </div>
</div></div>