/* Header space  */

/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Raleway', sans-serif; */

* {
    color: darkslategray;
}

.main {
    color: rgb(44, 44, 44);
    padding-bottom: 2vh;
    overflow: hidden;
}

.straws {
    height: relative;
    width: relative;
}

.header {
    height: relative;
    width: 102%;
    background-color: #fff8fb;
    padding-right: 2vw;
}

.title {
    font-family: 'Playfair Display', serif;
    color: darkslategray;
}

.scrapeRow {
    height: 60vh;
    margin-bottom: 0;
}

#scrape {
    font-family: 'Playfair Display', serif;
    background-color: #8eab3e !important;
    border: .5px solid lightgrey;
}

#scrape:hover {
    background-color: #ab4c3e !important;
}

#scrape:active {
    font-size: .85rem;
}

#scraped {
    background-color: #8eab3e !important;
    cursor: default;
}

#scraped:hover {
    text-decoration: none;
}

#saved {
    background-color: #ab3e57;
    cursor: default;
}

.propertyOf {
    font-style: italic;
    margin-top: 2vh;
}

.rsLink {
    color: #913eab;
}

.saveRecipe {
    margin: 0 !important;
    cursor: pointer;
}

#recipeSaved {
    color: #8EAB3E;
}

.recipeSaved {
    margin-top: -.5vh;
}

#viewSaved {
    background-color: #ab3e57;
    cursor: pointer;
}

#viewSavedBtn {
    background-color: #ab3e57;
    color: white;
    margin: 0 !important;
    font-size: .75rem;
}

.home {
    background-color: #8eab3e;
}

.home:hover{
    background-color: #8eab3e;
}

.recipeNotes {
    background-color: #8eab3e;
}

.recipeNotes:hover{
    background-color: #8eab3e;
}

.unsaveBtn {
    background-color: #ab3e57;
    color: white;
    font-size: .75rem;
    margin: 0 auto !important;
}

.unsaveBtn:hover {
    background-color: #ab3e57;
}

.card-bottom {
    margin-bottom: 2vh;
}

.sad {
    color: #ab3e57;
    padding-bottom: 5vh;
    font-style: italic;
}