/* Header space  */

/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Raleway', sans-serif; */

.main {
    /* padding-top: 4vh; */
    color: rgb(44, 44, 44);
    padding-bottom: 2vh;
    margin-bottom: 20vh;
    overflow: hidden;
}

.straws {
    height: relative;
    width: relative;
}

.header {
    height: relative;
    width: 101%;
    background-color: #fff8fb;
}

.title {
    font-family: 'Playfair Display', serif;
    color: darkslategray;
}

button {
    font-family: 'Playfair Display', serif;
    background-color: #8eab3e !important;
    border: .5px solid lightgrey;
}

button:hover {
    background-color: #ab4c3e !important;
}

button:active {
    font-size: .85rem;
}