{{!-- Header space  --}}

<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Real Simple Recipe Scrape</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/jenkruk/scraper" target="_blank">Github Repo</a></li>
        </ul>
    </div>
</nav>